//==============================================================================
// Widget Information
//==============================================================================
$widget_name: "Latest updated posts";
$widget_uri: "https://github.com/armandphilippot/latest-updated-posts-widget";
$widget_description: "Display a list of latest updated posts as a widget.";
$widget_version: "1.0.4";
$widget_wordpress_compatibility: "5.2";
$widget_author: "Armand Philippot <ap@armandphilippot.com>";
$widget_author-uri: "https://www.armandphilippot.com/";
$widget_license: "GNU General Public License v2 or later";
$widget_license-uri: "http://www.gnu.org/licenses/gpl-2.0.html";
$widget_domain: "LUPWidget";
$widget_domain-path: "/languages/";
